* {
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
}

.caption {
    font-size: 14pt;
}

a {
    color: #003366;
}

body {
    margin: 0px;
    padding: 0px; 
    background-color: #FFFFFF;
}

code, pre {
    background-color: #EEEEEE;
    font-family: courier, serif;
    padding-left: 2px;
    padding-right: 2px;
}

div.body {
    margin:  15px;
}

div.navigation {
    text-align: left;
    color: #003366;
    background-color: #CCCCCC;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

div.topbanner {
    color: #CCCCCC;
    background-color: #003366;
    padding-left: 15px;
    padding-bottom: 5px;
    font-size: 28px;
    font-weight: bolder;
    margin: 0px;
}

dd {
    padding: 5px;
}

dt {
    font-weight: bolder;
}

h1 {
    font-size: 14pt;
}

img {
    border: 0;   
}

.left {
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}

li {
    padding: 5px;
}

table.program {
    border-spacing: 3px;
}

td.performers {
    text-align: center;
    font-style: italic;
}
