/**GLOBAL**/
a {
  color: #6f8599;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #94b6d7;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
}

body {
  border: 0px;
  color: #000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin: 0px;
}

img {
  border: none;
}

/**HEADER**/

#header {
  background: #FFF url(/images/bg_gradient.jpg) repeat-x;
  height: 135px;
  width: 100%;
}

img.logo {
  padding-left: 30px;
  padding-top: 35px;
}

img.logo:hover {
  padding-top: 36px;
}

/**SIDEBAR**/

#site_nav {
  margin-right: 30px;
  padding-left: 50px;
  width: 220px;
  float: left;
}

/*----------------------------------*/
div.technology {
  background: #6f8599;
  float: left;
  margin-bottom: 15px;
  position: relative;
  width: 100%;
}

img.keyboard_icon {
  left: -30px;
  position: absolute;
  top: -20px;
}

img.keyboard_icon:hover {
  left: -25px;
  position: absolute;
  top: -15px;
}

/*----------------------------------*/

div.music {
  background: #7f9ab4;
  float: left;
  margin-bottom: 15px;
  position: relative;
  width: 100%;
}

img.sax_icon {
  left: -30px;
  position: absolute;
  top: -20px;
}

img.sax_icon:hover {
  left: -25px;
  position: absolute;
  top: -15px;
}

/*----------------------------------*/

div.personal {
  background: #94b6d7;
  float: left;
  margin-bottom: 15px;
  position: relative;
  width: 100%;
}

img.peter_icon {
  left: -30px;
  position: absolute;
  top: -20px;
}

img.peter_icon:hover {
  left: -25px;
  position: absolute;
  top: -15px;
}

/*----------------------------------*/

div.gray {
  background: #abacae;
  border-bottom: 1px solid #FFF;
  font-size: 22px;
  line-height: 40px;
  text-align: center;
  text-shadow: 0px 1px 0px #CCC;
  width: 100%;
}

div.nav_links {
  font-size: 14px;
  line-height: 18px;
  margin-left: 20px;
  padding: 15px 15px 15px 40px;
  text-shadow: 0px 1px 0px #999;
  width: 200px;
}

div.nav_links a {
  border: none;
  color: #000;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

div.nav_links a:hover, div.nav_links a:active {
  border: none;
  color: #fff;
  text-decoration: none;
  text-shadow: none;
}

span.indent {
  margin-left: 15px;
}

li.widget {
  list-style-type: none; 
}

/**MAIN CONTENT AREA**/

#main_content {
  margin-bottom: 20px;
  margin-right: 5px;
  max-width: 800px;
  min-width: 400px;
  padding-left: 300px;
  padding-top: 0px;
}

img.social {
  padding-right: 5px; 
}

code, pre {
    background-color: #94b6d7;
    font-family: courier, serif;
    overflow: auto;
    padding-left: 4px;
    padding-right: 4px;
}

/** Photo Gallery **/
.caption {
  font-size: 14pt;
}

#photolink {
  margin-top: 20px;
  display: block;
}

.thumbnail {
  margin-right: 4px; 
}

/** Sounds from Oberlin **/
table.program {
  border-spacing: 3px;
}

td.performers {
  text-align: center;
  font-style: italic;
}

/** FOOTER **/
#footer {
  padding-top: 30px; 
}