html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
I am not dealing with font size insanity. Here's the deal.
The main body/content font size is zero
Font sizes increase/decrease relative to that with simple sequential integers:
-2, -1, 0, 1, 2, 3, 4, 5
Each one is "a bit" larger than the previous as defined here
I generally only need h1-h3,
so h3 should be size 1 (just a bit larger than normal text),
h2 should be size 2,
and h1 should be size 3
Use REM units for fanciness but also include pixels for unsupported browsers
http://snook.ca/archives/html_and_css/font-size-with-rem
*/
a {
  color: #66aef3;
  text-decoration: none;
}
article h1 {
  font-size: 24px;
  font-size: 2.4rem;
}
body {
  background-color: #f4e9df;
  color: #8f776a;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  letter-spacing: 0.1em;
  line-height: 1.6em;
  padding: 0;
  font-size: 14px;
  font-size: 1.4rem;
}
code,
pre {
  background-color: #c7ede8;
  color: #66aef3;
  font-family: courier, serif;
  line-height: 1em;
  overflow: auto;
  padding: 4px;
}
footer {
  background-color: #8f776a;
  margin-top: 30px;
  padding-bottom: 20px;
}
footer a {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 0 4px;
  display: block;
}
footer a:hover {
  background-color: #f4e9df;
}
footer h1 {
  font-size: 18px;
  font-size: 1.8rem;
}
footer nav {
  display: inline-block;
  padding: 4px 20px;
  vertical-align: top;
}
h1,
h2,
h3 {
  color: #4f4e57;
  line-height: 1.5em;
  padding: 4px;
}
h1 {
  font-size: 36px;
  font-size: 3.6rem;
}
h2 {
  font-size: 24px;
  font-size: 2.4rem;
}
h3 {
  font-size: 18px;
  font-size: 1.8rem;
}
header {
  text-align: center;
  padding-bottom: 20px;
}
header h1 {
  font-size: 36px;
  font-size: 3.6rem;
  padding: 0;
}
header h1 a {
  color: #4f4e57;
}
header h2 {
  color: #000;
  font-family: courier, serif, fixed;
  font-size: 36px;
  font-size: 3.6rem;
  padding: 0;
}
header nav {
  display: inline;
}
header nav a {
  font-size: 18px;
  font-size: 1.8rem;
  margin: 20px;
  padding: 4px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
header nav a:hover {
  background-color: #8f776a;
}
html {
  font-size: 62.5%;
}
img {
  border: none;
}
img .icon {
  padding: 0 4px;
  vertical-align: middle;
}
li {
  line-height: 2em;
  padding-left: 30px;
}
.banner p {
  font-size: 18px;
  font-size: 1.8rem;
}
.banner img {
  padding: 4px 0;
}
.content {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 800px;
  min-width: 600px;
}
#practices li {
  font-weight: bold;
}
#practices li li {
  font-weight: normal;
}
