html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
I am not dealing with font size insanity. Here's the deal.
The main body/content font size is zero
Font sizes increase/decrease relative to that with simple sequential integers:
-2, -1, 0, 1, 2, 3, 4, 5
Each one is "a bit" larger than the previous as defined here
I generally only need h1-h3,
so h3 should be size 1 (just a bit larger than normal text),
h2 should be size 2,
and h1 should be size 3
Use REM units for fanciness but also include pixels for unsupported browsers
http://snook.ca/archives/html_and_css/font-size-with-rem
*/
@font-face {
  font-family: 'SpecialEliteRegular';
  src: url("fonts/SpecialElite-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/SpecialElite-webfont.woff") format('woff'), url("fonts/SpecialElite-webfont.ttf") format('truetype'), url("fonts/SpecialElite-webfont.svg#SpecialEliteRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
a {
  color: #00f;
  text-decoration: none;
}
article h1 {
  font-size: 24px;
  font-size: 2.4rem;
}
body {
  background-color: #f4f1dd;
  color: #434136;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  letter-spacing: 0.1em;
  line-height: 1.6em;
  padding: 0;
  font-size: 12px;
  font-size: 1.2rem;
}
code,
pre {
  background-color: #fefdfa;
  color: #434136;
  font-family: Inconsolata, "courier new", monospace, serif;
}
code {
  padding: 0 5px;
}
pre {
  overflow: auto;
  margin: 14px 0;
  padding: 14px;
}
dd {
  margin-left: 14px;
}
dt {
  font-weight: bold;
}
figcaption {
  font-size: 24px;
  font-size: 2.4rem;
  margin: 14px 0;
}
footer {
  background-color: #2c2a20;
  border-top: #88c200 solid 2px;
  margin-top: 30px;
  padding-bottom: 14px;
}
footer a {
  color: #fefdfa;
  display: block;
  padding: 0 5px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
footer a:hover {
  background-color: lightbg1;
}
footer h1 {
  color: #a19d83;
  font-family: "Six Caps", sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  text-transform: uppercase;
}
footer nav {
  display: inline-block;
  padding: 5px 14px 0 0;
  vertical-align: top;
}
footer nav a:before {
  content: "> ";
}
footer nav.connect a:before {
  content: "";
}
footer.license {
  color: #a19d83;
  font-size: 10px;
  font-size: 1rem;
  margin: 0;
  padding-top: 5px;
  background-color: #201e17;
  border-top: #575342 solid 1px;
}
footer.license a {
  display: inline;
  font-size: 10px;
  font-size: 1rem;
  padding: 0;
  white-space: nowrap;
}
footer.license img {
  padding-right: 5px;
  vertical-align: middle;
}
h1,
h2,
h3 {
  color: content4;
  line-height: 1.5em;
}
h1:not(:first-of-type),
h2:not(:first-of-type),
h3:not(:first-of-type) {
  padding-top: 30px;
}
h1 {
  font-family: "Six Caps", sans-serif;
  font-size: 36px;
  font-size: 3.6rem;
  text-transform: uppercase;
}
h2 {
  font-family: "Six Caps", sans-serif;
  font-size: 24px;
  font-size: 2.4rem;
  text-transform: uppercase;
}
h3 {
  font-family: "Six Caps", sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  text-transform: uppercase;
}
header {
  padding-bottom: 14px;
}
header h1 {
  font-family: "Six Caps", sans-serif;
  font-size: 36px;
  font-size: 3.6rem;
  text-transform: uppercase;
  float: left;
  padding: 0;
  text-transform: uppercase;
}
header h1 a {
  color: #434136;
}
header img {
  float: left;
}
header nav {
  float: right;
  margin-top: 14px;
  white-space: nowrap;
}
header nav a {
  background-color: #434136;
  color: #fcfaf1;
  margin: 5px;
  padding: 0 14px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  text-transform: uppercase;
}
header nav .current {
  background-color: #88c200;
}
hr {
  background-color: #434136;
  border: none;
  clear: both;
  height: 0.3em;
  margin-top: 14px;
}
html {
  font-size: 62.5%;
}
img.icon {
  padding-right: 5px;
  vertical-align: middle;
}
img.thumbnail {
  margin: 14px 5px;
  vertical-align: bottom;
}
li {
  line-height: 2em;
  margin-left: 30px;
  list-style-type: circle;
}
p {
  margin-top: 14px;
}
.content {
  margin-left: 20%;
  margin-right: 20%;
  transition: margin 0.3s ease-out;
}
.highlight {
  color: #88c200;
}
.intro p {
  font-size: 24px;
  font-size: 2.4rem;
  font-family: Oldenburg, serif;
  line-height: 1.3em;
}
.intro img {
  padding: 5px 0;
}
#practices li {
  font-weight: bold;
}
#practices li li {
  font-weight: normal;
}
nav.blog form {
  display: inline-block;
}
nav.photos a {
  display: block;
}
#nextPrev a {
  padding-right: 14px;
}
#photo {
  display: block;
}
table.program td:not(:first-of-type) {
  padding-left: 14px;
}
td.performers {
  text-align: center;
  padding-bottom: 14px;
}
@media handheld and (max-width: 960px), screen and (max-device-width: 960px), screen and (max-width: 960px) {
  .content {
    margin-left: 5%;
    margin-right: 5%;
    transition: margin 0.3s ease-out;
  }
  header h2 {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
@media handheld and (max-width: 720px), screen and (max-device-width: 720px), screen and (max-width: 720px) {
  .content {
    margin-left: 0.5%;
    margin-right: 0.5%;
    transition: margin 0.3s ease-out;
  }
}
