# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /problog/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /problog/index.php [L]
</IfModule>

# END WordPress
