#extends main_tmpl
#attr title = "My Bands"
#attr sd = "http://www.sunnydaze.ws"
#attr cj = "http://cdbaby.com/cd/confunktion"
#def body
<a href="${sd}"><img src="eclectric_cover.jpg"
  alt="Sunny Daze Eclectric" class="left" /></a>
<p>
<a
href="${sd}">Sunny Daze</a> is the Acid
Jazz/Funk/Latin band I played in from 2001-2007.
The band continues to perform around the Jersey shore scene.
During my tenure, we recorded three CDs.
You can <a href="http://www.cdbaby.com/Artist/SunnyDaze">
check out the Sunny Daze recordings on CD Baby</a>.
</p>
<hr />
<p>
  <a href="${cj}"><img src="confunktion_junction_cover.jpg"
    alt="Confunktion Junction Album Cover" class="left" /></a>
</p>
<p>
  I also used to perform with a great soul/funk band called
  <a href="${cj}">Confunktion Junction</a>.
I joined in October 2002 and the band fizzled out in early 2007.
  We recorded an EP of our original material.
  <a href="http://www.cdbaby.com/Artist/ConfunktionJunction">
  Check out the Confunktion Junction EP on CD Baby</a>.
</p>
#end def
