#extends main_tmpl
#attr title = "BigClock: a full screen clock"
#def body
<p>
BigClock is a simple desktop clock utility that fills up the entire
window with a clock, so you can get a clock of any size. It allows you
to choose your own colors and time format.
You can launch it through Java Web Start with the
link below, or <a href="./dist/bigclock.jar">download the jar file
directly</a> and run it with the command 'java -jar bigclock.jar'
using JRE 1.3 or newer.
</p>

<p>
<a href="./dist/bigclock.jnlp">Start BigClock!</a>
</p>
${webstart}
#end def
