#extends main_tmpl
#attr title = "Favorite Musicians"
#def body
<p>
Below is a list of musicians who have had a lasting impact on me.
</p>
<ul>
  <li>Bobby McFerrin</li>
  <li>Queen</li>
  <li>Wynton Marsalis</li>
  <li>Steve Reich</li>
  <li>Philip Glass</li>
  <li>Imogen Heap</li>
  <li>Zoe Keating</li>
  <li>Laura Veirs</li>
  <li>Primus</li>
  <li>Tool</li>
</ul>
<p>
This page is still a placeholder until I write some more thoughts here...
</p>
#end def
