#extends main_tmpl
#attr title = "Favorite Musicians"
#def body
<p>
Below is a list of musicians who have had a lasting impact on me.
</p>
<ul>
  <li>Bobby McFerrin</li>
  <li>Queen</li>
  <li>Wynton Marsalis</li>
  <li>Steve Reich</li>
  <li>Philip Glass</li>
  <li>Imogen Heap</li>
  <li>Zoe Keating</li>
  <li>Laura Veirs</li>
  <li>Primus</li>
  <li>Morphine</li>
  <li>Tool</li>
  <li>The Bird and the Bee</li>
  <li>The Blow</li>
  <li>The Dresden Dolls/Amanda Palmer
    <ul>
      <li>Amanda Palmer has a river of music inside of her.</li>
    </ul>
  </li>
</ul>
<p>
This page is still a placeholder until I write some more thoughts here...
</p>
<h1>Favorite Album Titles</h1>

<p>
Note that I don't like all of these albums. Some of them I haven't even heard.
I just like the titles themselves.
</p>
<ul>
  <li>Gentlemen, I Neglected to Inform You You Will Not Be Getting Paid: Charlie Hunter</li>
  <li>I Am Not Afraid of You & I Will Beat Your Ass: Yo La Tengo</li>
  <li>Kill 'Em All: Metallica</li>
  <li>Good News For People Who Love Bad News: Modest Mouse</li>
</ul>
#end def
