#extends main_tmpl
#attr title = "Peter Lyons: Web applications, startups, music"
#attr title_suffix = ""
#def body
<a href="http://www.facebook.com/focusaurus" target="_blank"><img 
  src="images/facebook_icon.png" alt="facebook" class="facebook" /></a>
<a href="http://twitter.com/#!/focusaurus" target="_blank"><img src="images/twitter_icon.png"
  alt="twitter" class="twitter" /></a>
<a href="http://www.linkedin.com/in/peterlyons1" target="_blank"><img
  src="images/linkedin_icon.png" alt="linkedin" class="linkedin" /></a>
<p>
Hi, I'm Pete Lyons.  I'm a web developer and startup enthusiast.
I play the saxophone. I climb rocks.
</p>
<p>
<img src="/photos/summer_2009/013_climbing_lake_mary.jpg" title="Climbing at Lake Mary in Estes Park"
alt="Climbing at Lake Mary in Estes Park" />
</p>
<p>
  <a href="http://validator.w3.org/check?uri=referer"><img
    src="http://www.w3.org/Icons/valid-xhtml10-blue"
    alt="Valid XHTML 1.0 Transitional" height="31" width="88" /></a>
  <a href="http://jigsaw.w3.org/css-validator/"><img
    style="border:0;width:88px;height:31px"
    src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
    alt="Valid CSS!" /></a>
</p>
#end def
