#extends main_tmpl
#def body
<p>
Thanks for visiting my web site.  Here you will find links to my blogs above, some music, some
software, some articles, and some photographs.
</p>
<p>
You can also find me on <a href="http://www.linkedin.com/in/peterlyons1">LinkedIn</a> and <a href="http://www.facebook.com/focusaurus">Facebook</a>.
<p>
<a
href="http://sunnydaze.peterlyons.com">Sunny Daze</a> is the Acid
Jazz/Funk/Latin band I played in from 2001-2007. The band in that formation is no longer active due to relocations and babies.
Please check out the web site for our albums, sound clips, photos, and info.
</p>

<p>
I also used to perform with a great soul/funk band called <a href="http://cdbaby.com/cd/confunktion">Confunktion Junction</a>.  I joined in October 2002 and the band fizzled out in early 2007. 
</p>
<img src="/photos/summer_2009/013_climbing_lake_mary.jpg" title="Climbing at Lake Mary in Estes Park"
alt="Climbing at Lake Mary in Estes Park" />
<p>
    <a href="http://validator.w3.org/check?uri=referer"><img
        src="http://www.w3.org/Icons/valid-xhtml10-blue"
        alt="Valid XHTML 1.0 Transitional" height="31" width="88" /></a>
    <a href="http://jigsaw.w3.org/css-validator/"><img
        style="border:0;width:88px;height:31px"
        src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
        alt="Valid CSS!" /></a>
</p>
#end def
