#extends main_tmpl
#def body
<p>
Thanks for visiting my web site.  Here you will find some music, some
software, and some photographs. I used to try to update this page with
news at least a few times a year, but lately I've been too busy and
have decided just to link you to the web sites for my bands.
</p>
<p>
I perform publicly with two great bands. <a
href="http://www.sunnydazeband.com">Sunny Daze</a> is my six piece Acid
Jazz/Funk/Latin band.
<a href="http://www.confunktionjunction.com">Confunktion Junction</a>
is my Soul/Funk/R&B band that plays originals and cover tunes. To see
when my next performance will be, click <a
href="http://www.sunnydazeband.com/index.html#shows">here</a> for Sunny
Daze and <a
href="http://www.confunktionjunction.com/dates.html">here</a> for
Confunktion Junction.
</p>
<p>
Recently, my saxophone quartet and trio have been
<a href="/photogallery.pl?gallery=sax_quartet_central_park_20030905">performing in Central Park</a>.
It's a lot of fun, and we got sketched!
</p>
<img src="/photos/sax_quartet_central_park_20030905/011-sketch.jpg" title="Sketch of my quartet in Central Park"
alt="Sketch of my quartet in Central Park" />
#end def
