#extends main_tmpl
#def body
#set currentIndex = $servlet.photos.index($servlet.photo)
#set currentPhotoName = $servlet.photos[currentIndex].name
#set prevPhotoName = $servlet.photos[currentIndex - 1].name
#if currentIndex >= len($servlet.photos) - 1
#set nextPhotoName = $servlet.photos[0].name
#else
#set nextPhotoName = $servlet.photos[currentIndex + 1].name
#end if
<script language="JavaScript" type="text/javascript">
function showPhoto(img, caption, name) {
    if(document.getElementById)   //gecko(NN6) + IE 5+
    {
        document.getElementById("photo").src = img;
        document.getElementById("caption").innerHTML = caption;
        document.getElementById("photolink").href = '$wkbase/$servlet.request.servletURI()?gallery=$servlet.gallery&amp;photo=' + name;
    }
    else if(document.layers)       //NN4+
    {
        document.layers["photo"].src = img;
        document.layers["caption"].innerHTML = caption;
        document.layers["photolink"].href = '$wkbase/$servlet.request.servletURI()?gallery=$servlet.gallery&amp;photo=' + name;
    }
    else if(document.all)       // IE 4
    {
        document.all["photo"].src = img;
        document.all["caption"].innerHTML = caption;
        document.all["photolink"].href = '$wkbase/$servlet.request.servletURI()?gallery=$servlet.gallery&amp;photo=' + name;
    }
    return true;
}
</script>
<a href="$wkbase/$servlet.request.servletURI()?gallery=$servlet.gallery&amp;photo=$prevPhotoName">&lt;&lt;previous</a>
&nbsp;
<a href="$wkbase/$servlet.request.servletURI()?gallery=$servlet.gallery&amp;photo=$nextPhotoName">next&gt;&gt;</a>
<br />
<a href="$wkbase/$servlet.request.servletURI()?gallery=$servlet.gallery&amp;photo=$currentPhotoName" id="photolink"><img alt="$servlet.photo.caption" id="photo" title="$servlet.photo.caption" src="$servlet.photo.fullSizeURI" border="0"/></a>
<h1 class="caption" id="caption">$servlet.photo.caption</h1>
#for $photo in $servlet.photos
#set jsCaption = $photo.caption.replace("'", "\\'").replace('"', "&quot;").strip()
#set altCaption = $photo.caption.replace('"', "&quot;").strip()
<a href="#" onclick="javascript:showPhoto('$photo.fullSizeURI', '$jsCaption', '$photo.name');return true">
<img border="0" src="$photo.thumbnailURI" alt="$altCaption" title="$altCaption" /></a>
#end for
<br />
<h1>Other Photo Galleries</h1>
#for $gallery in $servlet.galleries
<a href="$wkbase/$servlet.request.servletURI()?gallery=$gallery">$gallery</a><br />
#end for
#end def
