#extends main_tmpl
#attr title = "TechStars, pick me!"
#def body
<p>
<b>Hey, TechStars!</b>  I'm a huge fan of TechStars and the awesome entrepreneurial community you have built here in Boulder.  I think what you are doing is awesome and they way you do it is fantastic.  I've got the start-up bug and I want to be involved.  How bad do I have the start-up bug?  I quit my job at HP to free myself up to start my own business or join a startup.  That's how bad I have the start-up bug. At some point I'd like to bring a company of my own through the TechStars program, but for 2011 I don't have a project planned.  I'm available and would love to be a Summer Associate and do whatever I can to make the program run smoothly and help the companies knock it out of the park.
</p>
<b>Why is Pete going to crush this position?</b>
<ul>
  <li>He is "all in" in full-on startup mode</li>
  <li>He quit his job coding HP Server Automation to become an entrepreneur</li>
  <li>He has a <a href="http://news.ycombinator.com/">Hacker News</a> addiction (but it's under control)</li>
  <li>He gets things done the smart way</li>
  <li>He sees the huge value of being involved in TechStars in any capacity</li>
  <li>He has read <a href="http://www.domorefasterbook.com/">Do More Faster</a>, <a href="http://www.startupbook.net/">Start Small, Stay Small</a>, <a href="http://37signals.com/rework/">Rework</a>, <a href="http://codersatwork.com/">Coders at Work</a>, and lots of other books and blogs in that vein.
  </ul>
<p>
Now, I know you are probably thinking more along the lines of a grad student for this unpaid internship, but hopefully you are open to anyone who has what it takes and is enthusiastic about the opportunity to be involved with TechStars.  If that's the case, I'm your guy. I'm smart and I get things done.
</p>
<p>
You can read all about <a href="career.html">my career here</a> or check-out the <a target="_blank" href="https://linkzie.com">bookmarking web application</a> I built with Ruby on Rails and jQuery during nights and weekends while working full time at HP.
</p>
<p>
If I don't get a Summer Associate position, please keep me in mind if any of the 2011 TechStars class companies need a technical co-founder.
</p>
#end def
