ErrorDocument 404 /persblog/index.php?error=404 
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /persblog/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /persblog/index.php [L]
</IfModule>

# END WordPress
