light1 = #F4F1DD //Background color
light2 = #FCFAF1 //Light text
light3 = #FEFDFA //Almost white code block background
light4 = #575342 //footer border
light5 = #A19D83 //footer text

dark1 = #88C200 //green accent
dark2 = #42437
dark3 = #434136 //main dark headers, content
dark4 = #794E31 //Reddish brown links
dark5 = #2C2A20 //Footer background
dark6 = #201E17 //footer background 2
