@import "kona_coast.color"
pad1 = 4px
pad2 = 20px
a
  text-decoration none
  color dark2

body
  background-color light1
  color dark1
  font-family Verdana, Arial, Helvetica, sans-serif
  font-size 14px
  letter-spacing 0.1em
  margin 0 auto
  padding-left pad2
  max-width 800px
  min-width 600px

h1, h2, h3, h4, h5, h6
  color dark3

h1
  font-size 3em

h2
  font-size 2em

img
  border none

img.icon
  vertical-align middle
  padding-left pad1
  padding-right pad1

p.big
  font-size 20px
  width 50%

code, pre
  background-color #94b6d7
  font-family courier, serif
  overflow auto
  padding-left pad1
  padding-right pad1

li
  padding-top pad1

#main_content
  margin pad2 auto
  padding-top 0px
  width 960px