@import "../../../node_modules/nib/lib/nib/reset.styl"
global-reset()
@import "carly.color"

////////// mixins //////////
rounded(radius=2px)
  border-radius radius
  -webkit-border-radius radius
  -moz-border-radius radius

// Provide our wrapper mixin for responsive layout
//https://gist.github.com/1549029
wrapper(site-width=60%)
  site-margin = ((100% - site-width) / 2)
  margin-left: site-margin
  margin-right: site-margin
  transition: margin 0.3s ease-out

titlefont(size=1)
  font-family "Six Caps", sans-serif
  fontsize size
  text-transform uppercase
/*
I am not dealing with font size insanity. Here's the deal.
The main body/content font size is zero
Font sizes increase/decrease relative to that with simple sequential integers:
-2, -1, 0, 1, 2, 3, 4, 5
Each one is "a bit" larger than the previous as defined here
I generally only need h1-h3,
so h3 should be size 1 (just a bit larger than normal text),
h2 should be size 2,
and h1 should be size 3
Use REM units for fanciness but also include pixels for unsupported browsers
http://snook.ca/archives/html_and_css/font-size-with-rem
*/
fontsize(size)
  pixels =  8 if size < -1
  pixels = 10 if size == -1
  pixels = 12 if size ==  0 //Base size 0 for main body content
  pixels = 16 if size ==  1
  pixels = 24 if size ==  2
  pixels = 36 if size ==  3
  pixels = 48 if size > 3
  font-size unit(pixels, px)
  font-size unit((pixels/10), rem)

////////// Variables //////////
pad1 = 5px
pad2 = 14px
pad3 = 30px
codefont = Inconsolata, "courier new", monospace, serif

////////// Fonts //////////
// Generated by Font Squirrel (http://www.fontsquirrel.com)
// on January 10, 2012 12:47:59 PM America/New_York

@font-face
  font-family 'SpecialEliteRegular'
  src url('fonts/SpecialElite-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/SpecialElite-webfont.woff') format('woff'), url('fonts/SpecialElite-webfont.ttf') format('truetype'), url('fonts/SpecialElite-webfont.svg#SpecialEliteRegular') format('svg')
  font-weight: normal
  font-style: normal

////////// alphabetical site-wide rules for default HTML elements //////////
a
  color blue
  text-decoration none

article
  h1
    fontsize 2

body
  background-color light1
  color dark3
  font-family Verdana, Arial, Helvetica, sans-serif
  letter-spacing 0.1em
  line-height 1.6em
  padding 0
  fontsize 0

//For inline code snippets (wrapping OK)
code, pre
  background-color light3
  color dark3
  font-family codefont

code
  padding 0 pad1

//For multiline code blocks (formatted, no wrapping)
pre
  overflow auto
  margin pad2 0
  padding pad2

dd
  margin-left pad2

dt
  font-weight bold

figcaption
  fontsize 2
  margin pad2 0

footer
  background-color dark5
  border-top dark1 solid 2px
  margin-top pad3
  padding-bottom pad2
  a
    color light3
    display block
    padding 0 pad1
    rounded()
    &:hover
      background-color lightbg1
  h1
    color light5
    titlefont()
  nav
    display inline-block
    padding pad1 pad2 0 0
    vertical-align top
    a
      &:before
        content "> "
  nav.connect
    a
      &:before
        content ""
footer.license
  color light5
  fontsize -1
  margin 0
  padding-top pad1
  a
    display inline
    fontsize -1
    padding 0
    white-space nowrap
  background-color dark6
  border-top light4 solid 1px
  img
    padding-right pad1
    vertical-align middle
h1, h2, h3
  color content4
  line-height 1.5em
  &:not(:first-of-type)
    padding-top pad3

h1
  titlefont 3

h2
  titlefont 2

h3
  titlefont 1

header
  padding-bottom pad2
  h1
    a
      color dark3
    titlefont 3
    float left
    padding 0
    text-transform uppercase
  img
    float left
  nav
    float right
    margin-top pad2
    white-space nowrap
    a
      background-color dark3
      color light2
      titlefont
      margin pad1
      padding 0 pad2
      rounded()
      text-transform uppercase
    //Not sure why this can't be nested under the "a" above
    .current
      background-color dark1

hr
  background-color dark3
  border none
  clear both
  height .3em
  margin-top pad2
//This should reset the default font size to 10 pixels, which makes for clean
//rem units
html
  font-size 62.5%

img.icon
  padding-right pad1
  vertical-align middle

img.thumbnail
  margin pad2 pad1
  vertical-align bottom

li
  line-height 2em
  margin-left pad3
  list-style-type circle

p
  margin-top pad2

////////// Shared Based on IDs or Classes //////////
.content
  wrapper()
  //margin 0 auto
  //padding 0 pad2
  //max-width 800px
  //min-width 600px

////////// Home page //////////
.highlight
  color dark1
.intro
  p
    fontsize 2
    font-family Oldenburg, serif
    line-height 1.3em
  img
    padding pad1 0

////////// Practices //////////
#practices
  li
    font-weight bold
    li
     font-weight normal

////////// Blog //////////
nav.blog
  form
    display inline-block

////////// Photos //////////
nav.photos
  a
    display block

#nextPrev
  a
    padding-right pad2

#photo
  display block

////////// Oberlin //////////
table.program
  td
    &:not(:first-of-type)
      padding-left pad2
td.performers
  text-align center
  padding-bottom pad2

////////// Responsive layout //////////
@media handheld and (max-width: 960px), screen and (max-device-width: 960px), screen and (max-width: 960px)
  .content
    wrapper(90%)
  header
    h2
      fontsize 1
@media handheld and (max-width: 720px), screen and (max-device-width: 720px), screen and (max-width: 720px)
  .content
    wrapper(99%)
