@import "../../../node_modules/nib/lib/nib/reset.styl"
global-reset()
@import "kona_coast.color"

////////// mixins //////////
rounded(radius=10px)
  border-radius radius
  -webkit-border-radius radius
  -moz-border-radius radius

/*
I am not dealing with font size insanity. Here's the deal.
The main body/content font size is zero
Font sizes increase/decrease relative to that with simple sequential integers:
-2, -1, 0, 1, 2, 3, 4, 5
Each one is "a bit" larger than the previous as defined here
I generally only need h1-h3,
so h3 should be size 1 (just a bit larger than normal text),
h2 should be size 2,
and h1 should be size 3
Use REM units for fanciness but also include pixels for unsupported browsers
http://snook.ca/archives/html_and_css/font-size-with-rem
*/
fontsize(size)
  pixels =  8 if size < -1
  pixels = 10 if size == -1
  pixels = 14 if size ==  0 //Base size 0 for main body content
  pixels = 18 if size ==  1
  pixels = 24 if size ==  2
  pixels = 36 if size ==  3
  pixels = 48 if size > 3
  font-size unit(pixels, px)
  font-size unit((pixels/10), rem)

////////// Variables //////////
pad1 = 4px
pad2 = 20px
pad3 = 30px

////////// alphabetical site-wide rules for default HTML elements //////////
a
  color dark2
  text-decoration none
  img
    vertical-align middle
    padding-right pad1

article
  h1
    fontsize 2

body
  background-color light1
  color dark1
  font-family Verdana, Arial, Helvetica, sans-serif
  letter-spacing 0.1em
  line-height 1.6em
  padding 0
  fontsize 0

code, pre
  background-color light2
  color dark2
  font-family courier, serif
  line-height 1em
  overflow auto
  padding pad1

footer
  background-color dark1
  margin-top pad3
  padding-bottom pad2
  a
    rounded()
    padding 0 pad1
    display block
    &:hover
      background-color light1
  h1
    fontsize 1
  nav
    display inline-block
    padding pad1 pad2 0 0
    vertical-align top

h1, h2, h3
  color dark3
  line-height 1.5em

h1
  fontsize 3

h2
  fontsize 2

h3
  fontsize 1

header
  text-align center
  padding-bottom pad2
  h1
    a
      color black
    fontsize 3
    font-family courier, serif, fixed
    padding 0
    text-transform lowercase
  h2
    color dark3
    font-family courier, serif, fixed
    fontsize 3
    padding 0
  nav
    display inline
    a
      fontsize 1
      margin pad2
      padding pad1 pad2
      rounded()
      &:hover
        background-color dark1

//This should reset the default font size to 10 pixels, which makes for clean
//rem units
html
  font-size 62.5%

img
  border none
  .icon
    padding 0 pad1
    vertical-align middle

li
  line-height 2em
  padding-left pad3

p
  margin-top pad2

////////// Based on IDs or Classes //////////
.intro
  p
    fontsize 1
  img
    padding pad1 0

.content
  margin 0 auto
  padding 0 pad2
  max-width 800px
  min-width 600px

#practices
  li
    font-weight bold
    li
     font-weight normal
