p Hi, I'm Pete Lyons.
p I'm a web developer and startup enthusiast.
p I play the saxophone.
p I climb rocks.
p My current areas of interest in the technology/startup arena are as follows.
ul
  li
    a(href='http://c2.com/cgi/wiki?SovereignComputing') Sovereign Computing
  li Tools for clear thinking
  li Startups that enable consumers to bypass dated institutions

img(src='/images/sax_horizontal.jpg',
    title='Peter Lyons',
    alt='Peter Lyons')
p
  a(href='http://www.w3.org/')
    img(src='/images/html5.png', alt='HTML 5')
  a(href='http://jigsaw.w3.org/css-validator/')
    img(style='border:0;width:88px;height:31px',
      src='http://jigsaw.w3.org/css-validator/images/vcss-blue',
      alt='Valid CSS!')
