!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="keywords", content="peter lyons, pete lyons, web development, startups, music, sax, saxophone, saxophonist, sunny daze, confunktion junction, oberlin, smartears, smart ears")
    meta(name:"author", content="Peter Lyons")
    meta(name="description", content="The web site for Peter Lyons, Web Developer and Musician")
    meta(name="copyright", content="2001, Peter Lyons")
    link(rel="stylesheet", href="/screen.css", type:"text/css")
    link(rel="openid.server", href="http://www.livejournal.com/openid/server.bml")
    link(rel="openid.delegate", href="http://focusaurus.livejournal.com/")
    script(type="text/javascript", src="/js/jquery.js")
    - if (title)
      title #{title} | Peter Lyons
    - else
      title Peter Lyons
  body
    nav
      - each l in navLinks
        a(href=l.uri) #{l.label}
    div.body
      !{body}
