.create_blog
  .notices
  section.preview
  hr
  label
    | title
    input(name="title")
  textarea.content(cols="80", rows="25")
  button Save
:coffeescript
  $find = (selector) =>
    $(".create_blog").find selector

  $preview = ->
    $find ".preview"

  content = ->
    $find(".content").val()

  preview = (content, $out)->
    $.ajax
      type: "POST"
      url: "/convert"
      contentType: "text/x-markdown"
      data: content
      success: (response) ->
        $out.html(response)

  handleKeys = (event) ->
    val = event.target.value
    localStorage.postDraft = val
    preview val, $preview()

  save = ->
    data =
      title: $find("[name=title]").val()
      content: content()
    $.ajax
      type: "POST"
      url: "post"
      contentType: "application/json"
      data: JSON.stringify(data)
      success: (response) ->
        $(".notices").html("""New post saved at <a href='/#{response.URI}'>#{response.URI}</a>""")

  $ ->
    savedContent = localStorage.postDraft
    $find(".content").val(savedContent).focus().on "keyup", _.debounce handleKeys, 250
    preview savedContent, $preview()
    $find("button").on "click", save
