.create_blog
  section.preview
  hr
  label
    | title
    input(name="title")
  textarea.content(cols="80", rows="25")
:coffeescript
  $preview = ->
    $ ".preview"

  content = ->
    $(".content").val()

  preview = (content, $out)->
    $.ajax
      type: "POST"
      url: "/convert"
      contentType: "text/x-markdown"
      data: content
      success: (response) ->
        $out.html(response)

  handleKeys = (event) ->
    localStorage.postDraft = content = event.target.value
    preview content, $preview()
      #if event.keyCode is 13 and event.shiftKey
      #  event.preventDefault()
      #  preview $content, $preview

  $ ->
    savedContent = localStorage.postDraft
    $(".content").val(savedContent).focus().on "keyup", _.debounce handleKeys, 250
    preview savedContent, $preview()

